footer {
  background-color: $clr-neutral-500;
  border-top: $border;
  padding-bottom: 5rem;
  padding-top: 5rem;
  .links {
    display: grid;

    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    .footer-links {
      h2 {
        color: $clr-accent-100;
        font-size: $fs-300;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0.8rem;
      }

      ul {
        display: grid;
        gap: 0.8rem;
        li a {
          color: $clr-accent-600;
          font-size: $fs-200;
          text-transform: capitalize;
          font-weight: normal;
        }
      }
    }
  }
  .footer-links:last-child {
    display: flex;
    .btn {
      display: flex;
      color: $clr-accent-500;
      align-items: center;
      gap: 0.2em;
      font-size: $fs-200;
      background-color: transparent;
    }
  }
}

@media (max-width: 500px) {
  footer {
    .links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
