$clr-accent-100: #ffffff;
$clr-accent-200: #f2f4f7; //rati
$clr-accent-500: #f3f9ff;
$clr-accent-300: #fbfcfd;
$clr-accent-400: #fff4ed;
$clr-accent-500: #d1d6da;
$clr-accent-600: #b6bdc4;

$clr-primary-100: #074786; //
$clr-primary-200: #1b88f4;
$clr-primary-300: #62c4b7; //
$clr-primary-400: #ef4c5d;
$clr-primary-500: #ff7724;
$clr-primary-600: #ffb80f;

$clr-neutral-600: #000000;
$clr-neutral-500: #212731; //main 1,header footer
$clr-neutral-400: #2c384a; //2 head
$clr-neutral-300: #4b5665; //desc tag
$clr-neutral-200: #727d87; //path,top
$clr-neutral-100: #626e79; //re

$border: 1px solid #000000;

$ff-primery: Inter, Avenir, Helvetica, Arial, sans-serif;
$ff-body: $ff-primery;

$fs-100: 12px;
$fs-200: 14px;
$fs-300: 16px;
$fs-400: 18px;
$fs-500: 1em;
$fs-600: 1.5em;
$fs-500: 1.8em;
$fs-600: 2em;
$fs-700: 2.5em;
$fs-800: 3em;

$fs-body: calc(10px + 2vmin);

$ts-400: all 0.3s linear;
$radius: 12px;
$devider: 2px solid #e1e4e6;

$bxs-100: 0 8px 16px #00000029;
$bxs-200: 0 4px 12px #00000014, 0 0 1px #0100001a;
$bxs-300: 0 1px 1px #0000000a;
$bxs-400: 0 2px 1px #0000000a;

$d-border: 2px solid hotpink;
