$clr-accent-100: #ffffff;
$clr-accent-200: #f2f4f7;
$clr-accent-500: #f3f9ff;
$clr-accent-300: #fbfcfd;
$clr-accent-400: #fff4ed;
$clr-accent-500: #d1d6da;
$clr-accent-600: #b6bdc4;

$clr-primary-100: #074786;
$clr-primary-200: #1b88f4;
$clr-primary-300: #62c4b7;
$clr-primary-400: #ef4c5d;
$clr-primary-500: #ff7724;
$clr-primary-600: #ffb80f;

$clr-neutral-600: #000000;
$clr-neutral-500: #212731;
$clr-neutral-400: #2c384a;
$clr-neutral-300: #4b5665;
$clr-neutral-200: #727d87;
$clr-neutral-100: #626e79;

$border: 1px solid #000000;

$ff-primery: Inter, Avenir, Helvetica, Arial, sans-serif;
$ff-body: $ff-primery;

$fs-100: 12px;
$fs-200: 14px;
$fs-300: 16px;
$fs-400: 18px;
$fs-500: 1em;

$fs-body: calc(10px + 2vmin);

$ts-400: all 0.3s linear;
$radius: 12px;
$devider: 2px solid #e1e4e6;

$shadow-100: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
$shadow-200: rgba(0, 0, 0, 0.24) 0px 3px 8px;
